:root {
    --background: #222222;
    --text: rgb(238, 238, 238);
    --mid: rgb(65, 65, 65);
    --prompt: #151515;
    --highlight: gray
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--mid);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}

::selection {
    background-color: var(--highlight);
}

body {
    color: var(--text);
    background-color: var(--background);
    font-size: 1.3em;
    margin: 0px;
}

#ad {
    text-align: center;
}

#ad a {
    color: var(--text);
}

#ad a:visited {
    color: var(--text);
}

#ad span {
    padding-right: 20px;
    padding-left: 20px;
}

#terminal {
}

#output-block {
    padding: 10px;
    font-size: 1.3em;
    text-wrap: auto;
}

#input-block {
    bottom: 0;
    width: 100%;
}

#prompt {
    color: var(--text);
    background-color: var(--prompt);
    font-size: 1.3em;
    width: 96%;
    height: 30px;
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;
    border: 0px;
}

input:focus-visible {
    outline: 0px;
}

#hidden-tab {
    width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#refresh-button {
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 1px;
    padding: 2px;
}

#theme-toggle {
    background-color: var(--background);
    padding: 0;
    border: none;
    float: right;
    margin-right: 5px;

    img, object {
        width: 40px;
        pointer-events: none;
    }
}

#suggestions {
    margin: 5px;
}

.suggestion-button {
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 1px;
    padding: 5px;
}

@media (max-width: 1000px) {
    body {
        font-size: 2.5em;
    }

    #output-block {
        font-size: 1em;
    }

    #prompt {
        font-size: 2em;
        width: 95%;
        height: 100px;
    }

    #refresh-button {
        font-size: .5em;
        padding: 10px;
    }

    #theme-toggle {
        margin-right: 5px;

        img, object {
            width: 100px;
        }
    }

    .suggestion-button {
        font-size: 1em;
        padding: 30px;
        margin: 5px;
        border: 3px solid var(--text);
        border-radius: 5px;
    }
}
