:root {
    --background: rgb(34, 34, 34);
    --text: rgb(238, 238, 238);
    --mid: rgb(65, 65, 65);
    --prompt: rgb(56, 87, 146);
    --highlight: gray
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--mid);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}

body {
    color: var(--text);
    background-color: var(--background);
    font-size: 1.3em;
    margin: 0px;
}

#ad {
    text-align: center;
}

#ad a {
    color: white;
}

#ad a:visited {
    color: white;
}

#ad span {
    padding-right: 20px;
    padding-left: 20px;
}

#terminal {
}

#output-block {
    padding: 10px;
    font-size: 1.3em;
    text-wrap: auto;
}

#input-block {
    bottom: 0;
    width: 100%;
}

#prompt {
    color: var(--text);
    background-color: var(--background);
    font-size: 1.3em;
    width: 96%;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-bottom: 10px;
    padding-left: 2px;
}

input:focus-visible {
    outline: 0px;
}

#suggestions {
    color: gray;
}

#hidden-tab {
    width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#refresh-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 1px;
    padding: 2px;
}

.suggestion-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 1px;
    padding: 5px;
}

@media (max-width: 1000px) {
    body {
        font-size: 2.5em;
    }

    #output-block {
        font-size: 1em;
    }

    #prompt {
        font-size: 2em;
        width: 95%;
        height: 100px;
    }

    #refresh-button {
        font-size: .5em;
        padding: 10px;
    }

    .suggestion-button {
        font-size: 1em;
        padding: 30px;
        margin: 5px;
        border: 3px solid white;
        border-radius: 5px;
    }
}
