:root {
  --background: rgb(34, 34, 34);
  --text: rgb(238, 238, 238);
  --mid: rgb(65, 65, 65);
  --prompt: rgb(56, 87, 146);
  --highlight: gray
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--mid);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight);
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: 1.3em;
  margin: 0px;
}

#terminal {

}

#output-block {
  padding: 10px; 
}

#input-block {
  position: float;
  bottom: 0;
  width: 100%;
}

#prompt {
  color: var(--text);
  background-color: var(--background);
  font-size: 1.3em;
  width: 96%;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  padding-bottom: 10px;
  padding-left: 2px;
}

input:focus-visible {
  outline: 0px;
}